<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/find.css">
    </head>
<body>
    <div id="googleChat">
        <h1> <span>GOOGLE</span><span>CHAT LIST</span></h1>
    </div>
    <div id="container">

        <div id="options">
            <div id="id"><a href="/find/id"><p>Email</p></a></div>
            <div id="password"><a href="/find/pw"><p>Password</p></a></div>
        </div>
        <div id="contents">
        <form action="/find/id" method="POST">
        <div id="box">
        <form method="POST">
        <div>
            <label for="inputemail">Email</label>
            <input id="inputemail" name="inputemail"> 
        </div>

            <input type="submit" name="getCode" id="getCode" onclick="javascript:form.action='/sendCode';" />
      
        <div>
            <label for="code">Code</label>
            <input id="code" name="code">
        </div>
      
    </div>
        <div id="submitDiv">
        <input type="submit" id="submit" name="submit" value="submit" onclick="javascript:form.action='/find/pw';">
        </div>
        </form>
        </div>
    </div>
</body>
</html>

