<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/find.css">
    </head>
<body>
    <div id="googleChat">
        <h1> <span>GOOGLE</span><span>CHAT LIST</span></h1>
    </div>
    <div id="container">
    
        <div id="options">
            <div id="id"><a href="/find/id"><p>ID</p></a></div>
            <div id="password"><a href=""><p>Password</p></a></div>
        </div>
        <div id="contents">
	<form action="/find/id" method="POST">
        <div id="box">
        <div>
            <label for="firstName">FirstName</label>
            <input id="firstName" name="firstName">
        </div>
        <div>
            <label for="lastName">LastName</label>
            <input id="lastName" name="lastName">
        </div>
        <div>
            <label for="phone">Phone</label>
            <input id="phone" name="phone">
        </div>
    </div>
        <div id="submitDiv">
        <input type="submit" id="submit" name="submit" value="submit">
        </div>
	</form>
        </div>
    </div>
</body>
</html>



