<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <style>
            body{
                background-color: #0D1137;
            }
            #google{
                color: white;
                text-align: center;
                font-size:450%;
                margin-top:15%;
                margin-bottom:0px;
                font-weight: 500;

            }
            #chat{
                color: #03874F;
                text-align:center;
                font-size:450%;
                margin-top:0px;
                font-weight: 500;
            }
            p{
                color: white;
                margin-top:0px;
            }
            #logIn{
                width:350px;
                height:50px;
                border-radius:100px;
                background-color: #FFF73D;
                margin:auto;
            }
            #logInFont{ 
                text-align:center;
                color: #0D1137;
                font-size:200%;
                padding-top:3px;
                font-weight:bold;
            }
            a{
                text-decoration-line: none;
            }
            #options{
                width:350px;
                height:50px;
                margin-top:10px;
                display:flex;
                margin-left: 39%;
                margin-top:1.5%;
            }
            #findIdOrPw{
               margin-right:55%;
            }
          
         
            
        </style>
    </head>
    <body>
        <h1 id="google">GOOGLE</h1>
        <h1 id="chat">CHAT</h1>
        <div id="logIn">
            <a href="/login"><p id="logInFont">LOG IN</p></a>
        </div>
        <div id="options">
        <div id="findIdOrPw">
            <a href="/find/id"><p>FIND ID/PW</p></a>
        </div>
        <div ID="signUp">
            <a href="/signup"><p>SIGN UP</p></a>
        </div>
        </div>
    </body>
</html>
