<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <style>
            body{
                background-color: #0D1137;
            }

            #container{
                width:100%;
                height:100%;
                margin-top:15%;
            }
            #profileDiv{
                width:300px;
                height:300px;
                border-radius: 50%;
                background-color:white;
                cursor:pointer;
                margin-left:20%;
                text-align: center;
                color:gray;
                position:relative;
                float:left;
            
            }
            #profile{
                top:120px;
                left:40%;
                position:absolute;
                color:gray;
            }
           
            #profileInput{
                
                width:300px;
                height:300px;
                border-radius: 50%;
                left:0px;
                position: absolute;
                object-fit: cover;
                opacity: 0;
            }
            #inputInfo{
                text-align: right;
                margin-right:25%;
            }
            #inputInfo div{
                margin-top:2px;
            }
            #inputInfo  label{
                color:white;
                font-size:150%;
                padding-right:50px;
            }
         
            #firstName, #lastName, #code, #email, #phone, #password, #re-password{
                width:300px;
                height:40px;
                border-radius: 100px;
            }
            #submit{
                width:100px;
                height:40px;
                border-radius:100px;
                margin-top:30px;

            }
	    #error p{
	    	color:red;
		text-align:right;
		margin-right:30%;
	    }

     
  	    #email{
		    position:relative;
	    }
	    #getCode{
		    width:100px;
		    height:40px;
		    border-radius:100px;
		    background-color:#FFF73D;
		    position:absolute;
		    margin-top:-40px;
		   }


        </style>
	 <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <body>
	    <div id="container">
	    <div id="error">
		    <% if(flashMessages){ %>
		    <% if(flashMessages.error){ %>
		    <p><%= flashMessages.error %> 
		    <% }} %>

	    </div>
	    <div id="profileDiv">
	    <label for="profile" id="profile">
		    <p> upload profile</p>
	    </label>
	    <input type="file" name="profileInput" id="profileInput"></input>
	    </div>

	     <form action="/sendCode" method="POST">
			<div>
			<label for="inputemail">Email</label>
			<input type="email" name="inputemail" id="inputemail">
			</div>
		
			<input type="submit" name="getCode" id="getCode" value="send code" onclick="javascript:form.action='/sendCode';"/>
		
            
	    
            <div id="inputInfo">
            <div>
            <label for="firstName">firstName</label>
            <input type="text" name="firstName" id="firstName">
            </div>
	    <div>
            <label for="lastName">lastName</label>
            <input type="text" name="lastName" id="lastName">
	    </div>
	    <div>
            <label for="code">Code</label>
            <input type="text" name="code" id="code">
	    </div>
	    <input type="submit" name="submit" id="submit" value="confirm" onclick="javascript:form.action='/confirm';"/>

	    <div>
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone">
            </div>
            <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            </div>
            <div id="submitDiv">
            <input type="submit" name="submit" id="submit" value="send" onclick="javascript:form.action='/signup';" />
            </div>
	    </div>
            </form>
            </div>
    </body>
</html>


